.input-field{
    border-radius: 10px;
    /* border: none; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    font-size: 20px;
    margin: 10px;
    padding: 15px;
    background-color: #fff;
    border: 3px solid #ADD8E6;
    color: #1E3A8A;
}

.input-field::placeholder{
    color: #ADD8E6;
}